In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file = "data/U.S._natural_gas_production.csv"
gas_df = pd.read_csv(file, decimal=",")
gas_df.head(3)

,Month,U.S.,Alaska,Arkansas,Kansas,Other States,Federal Offshore--Gulf of Mexico,Wyoming,West Virginia,Utah,Pennsylvania,Texas,Oklahoma,Ohio,North Dakota,New Mexico,Montana,Louisiana,Colorado,California
0,2008-06-01,70626,8875,1196,1024,2995,7339,6839,670,1198,540,21446,5241,224,243,3975,323,3989,3576,932
1,2008-07-01,71137,8375,1256,1034,3150,7468,6940,674,1200,512,21547,5256,220,243,4179,324,4008,3834,919
2,2008-08-01,70760,8739,1313,1033,3092,6868,6835,678,1277,529,21777,4896,220,249,4092,327,3896,4056,881

In [3]:
gas_df.shape

(121, 20)

In [4]:
gas_df.columns

Index(['Month', 'U.S.', 'Alaska', 'Arkansas', 'Kansas', 'Other States',
       'Federal Offshore--Gulf of Mexico', 'Wyoming', 'West Virginia', 'Utah',
       'Pennsylvania', 'Texas', 'Oklahoma', 'Ohio', 'North Dakota',
       'New Mexico', 'Montana', 'Louisiana', 'Colorado', 'California'],
      dtype='object')

In [5]:
gas_df.info

<bound method DataFrame.info of           Month   U.S.  Alaska  Arkansas  Kansas  Other States  \
0    2008-06-01  70626    8875      1196    1024          2995
1    2008-07-01  71137    8375      1256    1034          3150
2    2008-08-01  70760    8739      1313    1033          3092
3    2008-09-01  63984    9221      1316    1032          2953
4    2008-10-01  69464    9674      1375    1026          3113
..          ...    ...     ...       ...     ...           ...
116  2018-02-01  97225    9593      1665     565          1350
117  2018-03-01  98278    9542      1646     568          1391
118  2018-04-01  98618    9424      1712     569          1350
119  2018-05-01  99091    9121      1661     568          1348
120  2018-06-01  98428    7634      1637     538          1365

     Federal Offshore--Gulf of Mexico  Wyoming  West Virginia  Utah  \
0                                7339     6839            670  1198
1                                7468     6940            674  1200
2                                6868     6835            678  1277
3                                2100     6447            657  1276
4                                4368     6909            692  1241
..                                ...      ...            ...   ...
116                              2634     4809           4652   825
117                              2667     4854           4725   842
118                              2476     4839           4607   837
119                              2496     4740           4820   819
120                              2604     4594           4800   821

     Pennsylvania  Texas  Oklahoma  Ohio  North Dakota  New Mexico  Montana  \
0             540  21446      5241   224           243        3975      323
1             512  21547      5256   220           243        4179      324
2             529  21777      4896   220           249        4092      327
3             542  20435      5224   224           260        4069      330
4             543  21948      5126   236           267        4168      330
..            ...    ...       ...   ...           ...         ...      ...
116         16482  22409      7513  6110          2095        3791      124
117         16280  22751      7763  6161          2114        3976      122
118         16368  23097      7836  6134          2245        4037      125
119         16094  23601      7867  6188          2333        4008      122
120         16451  23964      8062  6187          2301        4181      119

     Louisiana  Colorado  California
0         3989      3576         932
1         4008      3834         919
2         3896      4056         881
3         2960      4049         890
4         3718      3860         870
..         ...       ...         ...
116       7173      4886         549
117       7448      4882         545
118       7471      4947         544
119       7763      4995         547
120       7796      4827         548

[121 rows x 20 columns]>

In [30]:
gas_df["Month"] = pd.to_datetime(gas_df["Month"])

### Check your code

In [32]:
month_type = gas_df['Month'].dtype
month_type

dtype('<M8[ns]')

In [33]:
from nbresult import ChallengeResult

result = ChallengeResult('date',
    month_type=month_type,
)
result.write()

In [34]:
print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /Users/aybukealtuntas/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /Users/aybukealtuntas/data-us-oil-and-gas-production/tests
plugins: anyio-4.8.0, typeguard-4.4.2
collecting ... collected 1 item

test_date.py::TestDate::test_month_column_is_a_datetime PASSED           [100%]

============================== 1 passed in 0.10s ===============================


ðŸ’¯ You can commit your code:

git add tests/date.pickle

git commit -m 'Completed date step'

git push origin master